h1,
h2,
h3,
p {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #fff;
  height: 100%;
  width: 100%;
}

section {
  /* margin-top: 1rem; */
  width: 100%;
}

.nav-item {
  min-height: 3rem;
}

.nav-link {
  color: #fff;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

.nav-link:hover {
  color: #2d6c97 !important;
}

/* .dropdown-item:hover {
  color: #2d6c97;
} */

.navbar {
  background-color: #ef6c00 !important;
  /* opacity: 0; */
}

.fa-bars {
  color: #fff;
  font-size: 2rem;
}

.navbar .socialMediaIcons {
  /* margin-top: 0.5rem; */
  margin-bottom: 0rem !important;
}

.navbar .socialMediaIcons li {
  list-style: none;
  display: inline;
  color: #fff;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.navbar .socialMediaIcons li:hover {
  color: #2d6c97 !important;
}

/* .socialMediaIcons .fab {
  color: #fff;
} */

.fa-bars:hover {
  color: #2d6c97;
}

section {
  margin-top: 3rem;
}

.jumbotron {
  /* background-color: #ef6c00 !important; */
  background: #ef6c00 !important;
  background: linear-gradient(
    to right bottom,
    #ef6c00 58%,
    #fff 42%
  ) !important;
  min-height: 500px;
}

.jumbotron h1,
p {
  color: #fff;
}

.headerButtons {
  margin-top: 10rem;
}

.headerButtons .btn {
  width: 50%;
  height: 3rem;
}

.splashPhoneButtons {
  float: right;
  color: #ef6c00;
  border-color: #ef6c00;
}

.splashPhoneButtons a {
  color: #ef6c00 !important;
}

.splashPhoneButtons:hover > .indexPhoneBtn {
  color: #fff !important;
}

.splashPhoneButtons:hover {
  background-color: #ef6c00 !important;
  color: #fff;
}

.spashInfoButtons:hover > .indexServicesBtn {
  color: #2d6c97 !important;
}

.slogan {
  text-align: center;
  margin-bottom: 2rem;
}

.sloganSaying {
  font-size: 3.5rem;
  color: #78909c;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.businessCards {
  background: #fff;
  margin-bottom: 4rem;
  margin-top: 4rem;
}
.card {
  text-align: center;
  margin: 0 auto;
  width: 90%;
  /* background: #2d6c97; */
  min-height: 21rem;
}

.customerReviewCard {
  background-image: url("https://placem.at/people");
  /* background-image: url("https://fillmurray.com/200/300"); */
}

.serviceCard {
  background-image: url("https://placem.at/things");
  /* background-image: url("https://fillmurray.com"); */
}
/* https://fillmurray.com/ */

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5)),
    url("https://placem.at/things");
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.card-title {
  color: #fff;
  margin-top: 3rem;
  font-size: 2rem;
}

.fa-comment,
.fa-file-alt,
.fa-sign-out-alt {
  margin-top: 1.5rem;
  color: #fff;
  border-color: #fff;
  font-size: 5rem;
}

.fa-comment:hover,
.fa-file-alt:hover,
.fa-sign-out-alt:hover {
  color: #ef6c00;
  border-color: #ef6c00;
}

.partners {
  text-align: center;
  background: #fff;
}

.partnerTitle {
  text-align: center;
  color: #2d6c97;
}

.partnerList {
  list-style: none;
}

.partnerList li {
  display: inline;
}

.partnerList li {
  color: #78909c;
  font-size: 5rem;
  margin-right: 2.5rem;
}

.footerNav {
  background: #ef6c00;
}

.titleSection {
  color: #2d6c97;
  font-weight: bold;
  margin-top: 7rem;
  margin-bottom: 1rem;
  /* background-color: #eceff1; */
  /* float: left; */
  /* display: block; */
  /* width: 100%; */
}

section {
  height: 100%;
}

/* ABOUT */
.aboutQuote {
  text-align: center;
  margin-bottom: 1rem;
  display: block;
  width: 100%;
}

.aboutQuote h2 {
  color: #78909c;
  font-size: 3rem;
}

.aboutServices {
  border-right: 10px solid #fff;
}

.aboutContact {
  border-left: 10px solid #fff;
}

.aboutCards a {
  color: #ef6c00 !important;
  font-size: 4rem;
}

.aboutCards a:hover {
  color: #2d6c97 !important;
}

.aboutCards {
  text-align: center;
  background: #78909c;
  margin-bottom: 1rem;
  min-height: 10rem;
}

.aboutCards h2 {
  color: #fff;
  font-weight: bold;
  margin-top: 1rem;
}

.aboutBio {
  text-align: center;
  margin-bottom: 1rem;
}

.aboutBio h5 {
  color: #2d6c97;
}

/* CONTACT */
.contactForm .contactSide {
  display: inline-block;
}

.contactForm .btn {
  background-color: #2d6c97;
  border-color: #2d6c97;
}

.contactForm .btn:hover {
  background-color: #78909c;
  border-color: #2d6c97;
}

.contactInfoCard {
  background-color: #78909c;
  /* background: repeating-linear-gradient(
    45deg,
    /* #455a64,
    #455a64 15px, */ /* #fff,
    #fff 15px,
    #78909c 15px,
    #78909c 30px
  ); */
  text-align: center;
  height: 50%;
  border: 10px solid #fff;
  padding-top: 3rem;
}

.innerContactInfoCard {
  background: #78909c;
  /* width: 80%; */
}

.contactSocialCard {
  background-color: #2d6c97;
  /* background: repeating-linear-gradient(
    45deg,
    /* #1565c0,
    #1565c0 20px, */
  /*#fff,
    #fff 15px,
    #2d6c97 15px,
    #2d6c97 30px
  ); */
  text-align: center;
  height: 50%;
  border: 10px solid #fff;
  padding-top: 3rem;
}

.contactInfoCard h4,
a {
  color: #fff !important;
}

.contactInfoCard a:hover {
  color: #ef6c00 !important;
  text-shadow: 1px 1px 1px #90a4ae;
}

.contactSocialCard li {
  color: #fff;
  list-style: none;
  display: inline;
  font-size: 4rem;
  padding-right: 1.5rem;
}

.contactSocialCard a:hover {
  color: #ef6c00 !important;
}

/* SERVICES */

.list-group-item {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.5rem;
}

.list-group-item-action:hover {
  /* color: #495057; */
  color: #2d6c97;
}
/* 
.list-group-item:hover > a {
  color: #ef6c00;
} */

@media screen and (max-width: 1207px) {
  /* Contact */
  .contactSocialCard {
    padding-top: 3.3rem;
  }
  .contactSocialCard li {
    font-size: 3rem;
  }

  /* About */

  .aboutPage {
    margin-bottom: 2.5rem;
  }
}

/* ipad pro 1024 */
@media screen and (max-width: 1024px) {
  /* Index  --> good*/
  /* About --> good */
  /* Services */
  .list-group-item {
    font-size: 1rem;
  }
  /* Contact */
  .contactSocialCard {
    padding-top: 3.3rem;
  }
  .contactSocialCard li {
    font-size: 3rem;
  }
}

@media screen and (max-width: 993px) {
  /* Contact */
  .contactSocialCard {
    padding-top: 5rem;
  }
  .contactSocialCard li {
    font-size: 1rem;
  }

  .contactInfoCard h4 {
    font-size: 1rem;
  }

  .partners ul {
    padding-inline-start: 0px !important;
  }
}
/* ipad 768 */
@media screen and (max-width: 768px) {
  /*Nav*/
  .socialMediaIcons {
    padding-left: 0px;
  }

  /* Index */

  .jumbotron .btn {
    font-size: 1rem;
    width: 60%;
  }

  .businessCards .card-title {
    margin-top: 2rem;
    font-size: 2rem;
  }

  .businesCards h6 {
    font-size: 0.8rem;
  }

  .customerReviewCard,
  .serviceCard {
    margin-bottom: 2rem;
    max-height: 15rem;
  }

  .businesCards .card {
    min-height: none !important;
    width: 97%;
  }
  .sloganSaying {
    font-size: 2.5rem;
  }

  /* About --> good */
  .aboutQuote h2 {
    font-size: 2rem;
  }
  /* Services */
  .list-group-item {
    font-size: 0.8rem;
  }

  .list-group {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }

  /* Contact */
  .contactSocialCard {
    padding-top: 1.2rem;
  }
  .contactSocialCard li {
    font-size: 1rem;
  }

  .contactInfoCard h4 {
    font-size: 1rem;
  }
  .contactInfoCard {
    padding-top: 0.2rem;
  }

  .contactPage section {
    height: 100%;
    margin-bottom: 8rem;
  }
}

@media screen and (max-width: 504px) {
  /* Index */
  .jumbotron .btn {
    font-size: 0.8rem;
    width: 65%;
  }
}
/* iphone x 375 */
/* iphone plus 414 */
@media screen and (max-width: 414px) {
  /* Index */
  .jumbotron .display-4 {
    font-size: 3rem;
  }

  .jumbotron .lead {
    font-size: 0.8rem;
  }

  .sloganSaying {
    font-size: 1rem;
  }

  .jumbotron .btn {
    font-size: 8px;
  }

  /* .businessCards .card-title {
    margin-top: 1.5rem;
    font-size: 1rem;
  } */

  .customerReviewCard,
  .serviceCard {
    margin-bottom: 2rem;
    max-height: 15rem;
  }

  .businessCards h6 {
    font-size: 2rem;
  }

  .businesCards .card {
    min-height: 15rem !important;
    margin-bottom: 1rem;
  }

  .partnerList li {
    font-size: 1.5rem;
  }
  /*Services*/
  .list-group {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }

  /*About*/
  .aboutQuote h2 {
    font-size: 1.5rem;
  }
  /* Contact */
  .contactSocialCard {
    padding-top: 1.2rem;
  }
  .contactSocialCard li {
    font-size: 2.5rem;
  }

  .contactInfoCard {
    padding-top: 1rem;
  }
  .contactForm {
    margin-bottom: 2rem;
  }

  .contactPage section {
    height: 100%;
    margin-bottom: 8rem;
  }

  .aboutPage section {
    height: 100%;
    margin-bottom: 8rem;
  }
  .servicesPage section {
    height: 100%;
    margin-bottom: 8rem;
  }

  .row {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
}
/* iphone 375 */
/* pixel 2 xl 411 */
/* pixel 2  */
/* galaxy s5 360 */
@media screen and (max-width: 378px) {
  /* Index */
  .jumbotron .btn {
    font-size: 5px;
  }
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}
/* 
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
