@-webkit-keyframes color_change {
	0% { background-color: #252627; }
25% { background-color: #6200ea; }
50% { background-color: #2962ff; }
75% { background-color: #dd2c00; }
100% { background-color: #00c853; }
}
@-moz-keyframes color_change {
	0% { background-color: #252627; }
25% { background-color: #6200ea; }
50% { background-color: #2962ff; }
75% { background-color: #dd2c00; }
100% { background-color: #00c853; }
}
@-ms-keyframes color_change {
	0% { background-color: #252627; }
25% { background-color: #6200ea; }
50% { background-color: #2962ff; }
75% { background-color: #dd2c00; }
100% { background-color: #00c853; }
}
@-o-keyframes color_change {
	0% { background-color: #252627; }
25% { background-color: #6200ea; }
50% { background-color: #2962ff; }
75% { background-color: #dd2c00; }
100% { background-color: #00c853; }
}
@keyframes color_change {
	0% { background-color: #252627; }
25% { background-color: #6200ea; }
50% { background-color: #2962ff; }
75% { background-color: #dd2c00; }
100% { background-color: #00c853; }
}




body {
	animation-name: color_change;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

li:hover {
	font-size: 0em;
}

li:hover:after {
	font-size: 3em;
	color: white;
	content: attr(data-hover);
}

h1, h2, h3, h4, p {
	color: white;
	vertical-align: middle;
}


h1 {
	padding-top: 10%;
}




img {
	height: 20px;
	width: 20px;
}

canvas {
	vertical-align: middle;
	
}

@media (min-width: 200px) and (max-width: 401px) {
	canvas {
		padding-left: 110px;
		padding-top: 10%;
	}
}


@media (min-width: 402px) and (max-width: 600px) {
	canvas {
		padding-left: 170px;
		padding-top: 10%;
	}
}

@media(min-width: 601px) and (max-width: 800px){
	canvas{
		padding-left: 270px;
		padding-top: 10%;
	}
}

@media(min-width: 801px) and (max-width: 950px){
	canvas{
		padding-left: 350px;
		padding-top: 10%;
	}
}

@media(min-width: 951px) and (max-width: 1100px){
	canvas{
		padding-left: 400px;
		padding-top: 10%;
	}
}

@media(min-width: 1101px) and (max-width: 1200px){
	canvas{
		padding-left: 450px;
		padding-top: 10%;
	}
}

@media(min-width: 1200px) and (max-width: 1400px){
	canvas{
		padding-left: 540px;
		padding-top: 10%;
	}
}


	


