@-webkit-keyframes color_change {
	0% { background-color: #311b92; }
25% { background-color: #1a237e; }
50% { background-color: #0d47a1; }
75% { background-color: #304ffe; }
100% { background-color: #2962ff; }
}
@-moz-keyframes color_change {
	0% { background-color: #311b92; }
25% { background-color: #1a237e; }
50% { background-color: #0d47a1; }
75% { background-color: #304ffe; }
100% { background-color: #2962ff; }
}
@-ms-keyframes color_change {
	0% { background-color: #311b92; }
25% { background-color: #1a237e; }
50% { background-color: #0d47a1; }
75% { background-color: #304ffe; }
100% { background-color: #2962ff; }
}
@-o-keyframes color_change {
	0% { background-color: #311b92; }
25% { background-color: #1a237e; }
50% { background-color: #0d47a1; }
75% { background-color: #304ffe; }
100% { background-color: #2962ff; }
}
@keyframes color_change {
	0% { background-color: #311b92; }
25% { background-color: #1a237e; }
50% { background-color: #0d47a1; }
75% { background-color: #304ffe; }
100% { background-color: #2962ff; }
}


body {
	background-color:black;
    background-image: linear-gradient(grey 2px, transparent 2px),
    linear-gradient(90deg, grey 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
	opacity: 0.4;
}


img {
	height: 20px;
	width: 20px;
}

h1, h3, p {
	text-align: center;
	color: white;
	opacity: 1;
}

h1 {
	color: white;
	padding-top: 15px;
}
a {
	color: white;
}



#redcontainer {
	width: 100%;
	height: 300px;
	
	opacity: .8;
	z-index: 0;
	padding-top: 30px;
	margin-bottom: 30px;

	animation-name: color_change;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	
}

.projectlist {
	opacity: 1;
	text-align: center;
	color: white;
	z-index: 1;
}