body {
	background: linear-gradient(132deg, #ec5218, #1665c1);
	background-size: 1000% 1000%;
	animation: BackgroundGradient 30s ease infinite;
}

@keyframes BackgroundGradient {
	0%{background-position: 10% 35%;}
	25%{background-position: 35% 80%;}
	50%{background-position: 80% 50%}
	75%{background-position: 50% 35%}
	100%{background-position: 35% 20%;}
}


h1 {
	color: white;
	
	

}

h4, h3, li {
	color: white;
	opacity: 1;
}

.frontend {
	display: inline;

}

#centered {

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}



.skillset {
	vertical-align: middle;
	text-align: center;
	
	z-index: 1;
}

img {
	height: 20px;
	width: 20px;
}


canvas {
	width: 600px;
	height: 500px;
	position: -1;
	float: right;
	z-index: 0;	
}


@media(min-width: 200px) and (max-width: 400px){
	canvas{
		padding-left: 90px;
		padding-top: 5%;

	}

@media(min-width: 765px) and (max-width: 1143px){
	canvas{
		padding-left: 40px;
		padding-top: 10%;
		width: 300px;
		height: 200px;
	}
}
